@import "colors";

.footer {
  position: relative;
  font-family: "Nexa";
  font-weight: 800;
  font-size: 16px;
  background: $textGray;
  color: white;

  .content {
    // Remove 20px (50px padding L/R - padding in each tile)
    padding: 40px 30px;
  }

  a {
    color: white;
    text-decoration: none;

    &:after {
      display: none;
    }

    &:hover {
    }
  }

  .footer-tile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
    width: 50%;
  }

  .logo-tile {
    .footer-logo-container {
      position: relative;

      a {
      }
    }

    img {
      width: 100%;
      max-width: 290px;
      height: auto;
    }

    .footer-social-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      i {
        font-size: 30px;
        margin: 0px 10px;
        transition: all 0.3s;

        &:hover {
          color: $lightPurple;
        }
      }
    }
  }

  .footer-nav-tile {
    a {
      padding: 14px 30px;
      border-radius: 50px;
      background-color: $textGray;
      margin-bottom: 0px;

      &:hover {
        background-color: $darkPurple;
      }

      &:nth-last-of-type(1) {
        background-color: $brandGray;
        margin-top: 10px;
        &:hover {
          background-color: $darkPurple;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 30px 25px;
    font-weight: 400;
    color: white;
  }
}

// 1024px And Below
@media screen and (max-width: 1024px) {
  .footer {
    .footer-tile {
      // width: 25%;
    }
  }
}

@media screen and (max-width: 885px) {
}

// 768px And Below
@media screen and (max-width: 768px) {
  .footer {
    .content {
      margin: 0px auto;
      padding: 30px 25px 40px 25px;
    }

    .footer-tile {
      width: 100%;
      padding: 20px 0px 60px 20px;
    }
  }
}
