@import "colors";
/////////////////////
//// HOME PAGE /////
/// ////////////////
.ulead-portal-1 {
  fill: #fff;
}
.ulead-portal-2 {
  fill: #f16a46;
}
.ulead-portal-3 {
  fill: #fed50a;
}
.ulead-portal-4 {
  fill: #7bd8fa;
}
.ulead-portal-5 {
  fill: #b43493;
}
.ulead-portal-6 {
  fill: #add13e;
}
.ulead-portal-7 {
  fill: #38c5f3;
}
.ulead-portal-8 {
  fill: #39586c;
}
.ulead-portal-9 {
  fill: #46c3f1;
}

.umap-portal-1 {
  fill: #eb4db4;
}
.umap-portal-2 {
  fill: #fff;
}
.umap-portal-3 {
  fill: #ffea82;
}
.umap-portal-4 {
  fill: #ffd407;
}
.umap-portal-5 {
  fill: #7bd8fa;
}
.umap-portal-6 {
  fill: #b9d42f;
}
.umap-portal-7 {
  fill: #bd338d;
}
.umap-portal-8 {
  fill: #dbf266;
}
.umap-portal-9,
.umap-portal-10 {
  fill: #38576b;
}
.umap-portal-11 {
  fill: #46c3f1;
}
.umap-portal-12 {
  fill: #24a3ea;
}
.umap-portal-10 {
  fill-rule: evenodd;
}

.four-icon-1 {
  fill: none;
}
.four-icon-2 {
  fill: #fff;
}
.four-icon-3 {
  fill: #ffd407;
}
.four-icon-4 {
  fill: #b9d42f;
}
.four-icon-5 {
  fill: #bd338d;
}
.four-icon-6 {
  fill: #46c3f1;
}

.heart-talk-icon-1 {
  fill: #fff;
}
.heart-talk-icon-2 {
  fill: #ffd407;
}

/////////////////////
//// UMAP PAGE /////
/// ////////////////

.umap-hero-1 {
  fill: #eb4db4;
}
.umap-hero-2 {
  fill: #fff;
}
.umap-hero-3 {
  fill: #ffea82;
}
.umap-hero-4 {
  fill: #ffd407;
}
.umap-hero-5 {
  fill: #7bd8fa;
}
.umap-hero-6 {
  fill: #b9d42f;
}
.umap-hero-7 {
  fill: #bd338d;
}
.umap-hero-8 {
  fill: #dbf266;
}
.umap-hero-9,
.umap-hero-10 {
  fill: #38576b;
}
.umap-hero-11 {
  fill: #46c3f1;
}
.umap-hero-12 {
  fill: #24a3ea;
}
.umap-hero-10 {
  fill-rule: evenodd;
}

/////////////////////
//// ULEAD PAGE /////
/// ////////////////
.ulead-hero-1 {
  fill: #fff;
}
.ulead-hero-2 {
  fill: #f16a46;
}
.ulead-hero-3 {
  fill: #fed50a;
}
.ulead-hero-4 {
  fill: #7bd8fa;
}
.ulead-hero-5 {
  fill: #b43493;
}
.ulead-hero-6 {
  fill: #add13e;
}
.ulead-hero-7 {
  fill: #38c5f3;
}
.ulead-hero-8 {
  fill: #39586c;
}
.ulead-hero-9 {
  fill: #46c3f1;
}

// 1024px And Below
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 885px) {
}

// 768px And Below
@media screen and (max-width: 768px) {
}
