$black: #000000;

$white: #ffffff;
$offWhite: #f8f9fb;
$offOffWhite: #e7ebf2;
$offOffDark: #cdd3df;

$textGray: #223643;
$brandGray: #38576b;

$darkPurple: #bd338d;
$lightPurple: #eb4db4;
$lightGreen: #dbf266;
$darkGreen: #b9d42f;
$darkYellow: #ffd407;
$lightYellow: #ffea82;
$lightBlue: #7bd8fa;
$darkBlue: #46c3f1;

.signup-form-section {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  text-align: center;

  .content {
    justify-content: center;
    align-content: center;
  }

  h2 {
    color: $darkPurple;
    margin-bottom: 60px;
  }

  .signup-embed-code {
    max-width: 680px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;

    .wpcf7 {
      width: 100%;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .form-line {
      width: 50%;
      padding-right: 10px;
      margin-bottom: 20px;
      p {
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        br {
          display: none;
        }

        .form-label {
          display: inline-block;
          width: 100%;
          color: $brandGray;
        }

        input[type="text"],
        input[type="email"],
        textarea {
          width: 100%;
          padding: 8px 10px;
          border-color: black;
        }

        .wpcf7-form-control-wrap {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .form-line-2 {
      padding-right: 0px;
      padding-left: 10px;
    }

    .full-width-form-line {
      width: 100%;
      padding: 0;
    }

    .button-form-line {
      width: 100%;
      text-align: center;
      padding: 0;

      p {
        margin-top: 40px;
        width: 100%;
        justify-content: center;
      }

      .wpcf7-spinner {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: calc(100% - 10px);
      }
    }
  }

  .seemax-button {
    margin: 0 auto;
    cursor: pointer;
    padding-top: 14px;
    padding-bottom: 12px;
    input {
      position: relative;
      color: white;
      background: rgba(0, 0, 0, 0);
      border: 0px solid white;
      z-index: 6;
      font-family: "Nexa";
      font-weight: 800;
      font-size: 1em;
      border-radius: 50;
    }
  }
}

.blue-signup-form-section {
  h2 {
    color: $darkBlue;
  }
  .seemax-button {
    background-color: $darkBlue;

    &:after {
      background: $lightBlue;
    }

    &:before {
      background: $lightBlue;
    }
  }
}

.green-signup-form-section {
  h2 {
    color: $darkGreen;
  }
  .seemax-button {
    background-color: $darkGreen;

    &:after {
      background: $lightGreen;
    }

    &:before {
      background: $lightGreen;
    }
  }
}

// 1024px And Below
@media screen and (max-width: 1024px) {
  .signup-form-section {
  }
}

// 768px And Below
@media screen and (max-width: 768px) {
  .signup-form-section {
    .signup-embed-code {
      .form-line {
        width: 100%;
        padding: 0;
      }
    }
  }
}
