$black: #231f20;
$white: #ffffff;
$offWhite: #f2f3f4;
$brandGray: #4a5155;
$lightPurple: #cbf600;

.posts-preview-section {
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  .content {
    justify-content: space-between;
  }
}

// .single-post-preview and single-posts-preview-area style are in:
// src/scss/components/single-posts-preview.scss

// 1024px And Below
@media screen and (max-width: 1024px) {
}

// 768px And Below
@media screen and (max-width: 768px) {
}
