$black: #000000;

$white: #ffffff;
$offWhite: #f8f9fb;
$offOffWhite: #e7ebf2;
$offOffDark: #cdd3df;

$textGray: #223643;
$brandGray: #38576b;

$darkPurple: #bd338d;
$lightPurple: #eb4db4;
$lightGreen: #dbf266;
$darkGreen: #b9d42f;
$darkYellow: #ffd407;
$lightYellow: #ffea82;
$lightBlue: #7bd8fa;
$darkBlue: #46c3f1;

.half-half-section {
  display: flex;
  flex-wrap: wrap;
}

.half-half-left,
.half-half-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 45px;
  img,
  svg {
    margin-bottom: 40px;
    max-width: 400px;
  }
  svg {
  }

  img {
  }
  h3 {
    max-width: 500px;
  }
  p {
    max-width: 340px;
  }
  .seemax-button {
    margin-top: 30px;
  }
}

// 1024px And Below
@media screen and (max-width: 1024px) {
  .half-half-section {
  }
}

// 768px And Below
@media screen and (max-width: 768px) {
  .half-half-section {
    .half-half-left,
    .half-half-right {
      padding: 0px 0px;
    }
    .half-half-left {
      margin-bottom: 160px;
    }
  }
}
