$black: #000000;

$white: #ffffff;
$offWhite: #f8f9fb;
$offOffWhite: #e7ebf2;
$offOffDark: #cdd3df;

$textGray: #223643;
$brandGray: #38576b;

$darkPurple: #bd338d;
$lightPurple: #eb4db4;
$lightGreen: #dbf266;
$darkGreen: #b9d42f;
$darkYellow: #ffd407;
$lightYellow: #ffea82;
$lightBlue: #7bd8fa;
$darkBlue: #46c3f1;
.hero-section {
  padding-bottom: 130px;
  .content {
    align-items: center;
  }
  .hero-image-half {
    svg {
      overflow: visible;
    }
  }

  .hero-text-half {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
  }

  h1 {
    margin-bottom: 12px;
  }

  p {
    max-width: 550px;
  }

  .seemax-button {
    margin-top: 50px;
  }
}

.hero-section-blue {
  .seemax-button {
    background-color: $darkBlue;

    &:after {
      background: $lightBlue;
    }

    &:before {
      background: $lightBlue;
    }
  }
}

// 1024px And Below
@media screen and (max-width: 1024px) {
  .hero-section {
    .content {
      align-items: flex-start;
    }

    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }
}

// 768px And Below
@media screen and (max-width: 768px) {
  .hero-section {
    padding-top: 60px;
    .hero-image-half {
      margin: 0px auto 40px auto;
      max-width: 500px;
    }

    .hero-text-half {
      padding-left: 0px;
    }

    .seemax-button {
      margin-top: 35px;
    }
  }
}
